<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Vender', css: 'creacionProductoStyles.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <%- include('./partials/header')%>
        <!-- /PARTIAL HEADER -->
        <div class="creacionContainer">
            <h1 id="titulo">CREACION DE PRODUCTO</h1>
            <form class="uk-grid-small" uk-grid action="/producto/create/" method="POST" enctype="multipart/form-data">
                <div>
                    <div>
                        <input class="uk-input" type="text" name="name" placeholder="Producto">
                    </div>
                    <div>
                        <label for="price"></label> <br>
                        <input class="uk-input" type="number" name="price" placeholder="Precio">
                    </div> <br>
                    <div>
                        <label for="idCategory" class="form-label"></label>
                        <select name="idCategory" id="idCategory" class="caja">
                            <option value="">Elegí</option>
                            <% categories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                            <% }) %>
                        </select>
                    </div> <br>
                    <div>
                        <label id="seleccionarImagen" for="image" type="file"></label>
                        <input id="nuestroinput" type="file" name="img">
                        <!-- src="../../img/hojas.jpg" -->
                    </div>
                    <div class="uk-margin">
                        <label for="description"></label>
                        <textarea class="uk-textarea" name="description" rows="5" placeholder="Descripción"></textarea>
                    </div>


                    <div>
                        <button id="crear" type="submit">VENDER</button>
                    </div> <br>
                </div>
            </form>

            <!-- Naranja decoración -->
            <img src="img/naranja.jpg" alt="" class="naranja">
            <img src="/img/naranja.jpg" alt="" class="naranjax">
        </div>
        <!-- PARTIAL FOOTER -->
        <%- include('./partials/footer')%>
        <!-- END OF PARTIAL FOOTER -->
    </div>
</body>

</html>