<!-- POLITICA PRIVACIDAD -->

<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Privacidad', css: 'footerPolitics.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <%- include('./partials/header')%>
        <!-- /PARTIAL HEADER -->

        <!-- Historial de compras -->

            <div>
                <div>
                    <div>
                        <h1 class="products-title">Historial de compras</h1>
                    </div>
                </div>
                <div>
                    <article class="product-detail-info">
                        <h2 class="product-detail-title">
                            <%= locals.user.name %>
                        </h2>
                        <hr>
                    </article>
                </div>
                <div class="product-detail">
                    <div>
                        <div>
                            <% if(carts.length != 0){ %>
                            <% carts.forEach(cart => { %>
                                <div>
                                    <section>
                                        <h4><%= new Date(cart.createdAt).toLocaleDateString() %> </h4>
                                        <section>
                                        <% cart.items.forEach(item => { %> 
                                            <li>
                                                <%= item.name %> - 
                                                $<%= item.subtotal %>
                                            </li>
                                        <% }) %>

                                            <div>
                                                <p class="product-detail-price">
                                                   Total: $<%= cart.total %>
                                                </p>
                                            </div>
                                        </section>
                                        <section >
                                        </section>
                                    </section>
                                </div>
                            <hr>
                            <% }); %>
                            <% } else { %>
                            <div class=>
                                <h2 class="products-title" style="padding: 100px 0; color: tomato;">Aún no tienes
                                    compras</h2>
                            </div>
                            <% } %>
                        </div>
                        
                    </div>
                </div>
            </div>




            <!-- Naranja decoración -->
            <!-- <img src="img/naranja.jpg" alt="" class="naranja">
        <img src="/img/naranja.jpg" alt="" class="naranjax"> -->
            <!-- ENVIOS BODY -->

            <!-- PARTIAL JAVASCRIPT -->
            <!-- UIkit JS -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
            <!-- /PARTIAL JAVASCRIPT -->

            <!-- FOOTER -->
            <%- include('./partials/footer')%>
            <!-- /FOOTER -->
    </div>
</body>

</html>