<!-- PERFIL DE  USUARIO -->

<!DOCTYPE html>
<html lang="en">

<!-- PARTIAL HEAD -->
<%- include('./partials/head', {title: 'Perfil', css: 'loginStyles.css'})%>

<!-- END OF PARTIAL HEAD -->

<body>
    <div class="body-container">
        <!-- PARTIAL HEADER -->
        <%- include('./partials/header')%>
        <!-- /PARTIAL HEADER -->


        <div class="container products-wrapper">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h2 class="products-title"><%= user.name %> </h2>
                </div>
                <% user.products.forEach(function(product){ %>
                <div>
                    <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
                        <div style="height: 300px">
                            <a href="/producto/detail/<%=product.id%>">
                                <img src="/img/<%=product.img%>" style="height: 50%; margin-top:40%" alt="" class="imagen-producto">
                            </a>
                        </div>
                    </div>
                    <p><%= product.name %> </p>
                    <p>$<%= product.price %> </p>
                </div>
                
                <% })%>
            </div>
           
        <!-- Naranja decoración -->
        <img src="img/naranja.jpg" alt="" class="naranja">
        <img src="/img/naranja.jpg" alt="" class="naranjax">
        <!-- LOGIN BODY -->

        <!-- PARTIAL JAVASCRIPT -->
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
        <!-- /PARTIAL JAVASCRIPT -->

        <!-- FOOTER -->
        <%- include('./partials/footer')%>
        <!-- /FOOTER -->
    </div>
</body>

</html>